
body {
    background-color: beige;
    text-align: center;
     
}

div {
    margin: auto;
    width: auto;
}

ol {
    text-align: left;    
}

img {
    border-radius: 5%;
    opacity: 80%;

}

.center {
    text-align: center;
    color: brown;
}